snippet d
debug "***********************************";
debug "**********************************";
debug "*********************************";
debug "********************************";
debug ${0};
debug "********************************";
debug "*********************************";
debug "**********************************";
endsnippet
